*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
 }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
  .nav2 h4{
    font-size: 17px;
  }
 