  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
 main{
    height: 100%;
    width: 100%;
background-color:  black;
display: grid;
grid-template-columns: 200px 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 grid-template-areas: "header header"
 "aside section"
 "footer footer"
 ;
 grid-gap: 20px;
 }
 header{
    background-color:  red;
 }
 section{
    background-color:  goldenrod;
 }
 aside{
    background-color: blanchedalmond;
 }
 footer{
    background-color:  tan;
 }